body {
    background-color: darkgreen;
     height: inherit;
     width: inherit;
     color: rgb(6, 6, 0);

     
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
    
}
div {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  min-height: 100vh;      /* Full screen height */
  width: 100%;
}
