body {
    background-color: darkgreen;
     height: inherit;
     width: inherit;
     color: rgb(6, 6, 0);

     
}

.img {
  max-width: 100%;
  height: auto;
  display: grid;
place-item: center;
    
}
